body {
  font-family: 'Manrope', sans-serif;
  margin: 0; }

.slider {
  height: 100vh;
  color: white;
  margin: 0;
  padding: 0; }

/*  <!-- Slider 1 (Intro) --> */
#slider-1 {
  background-color: #043104;
  margin: 0 auto; }
  #slider-1 h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    animation-name: slidein-h1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translateY(-1000px); }
  #slider-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #slider-1 p {
    text-align: center;
    font-size: 20px;
    padding: 25px;
    animation-name: slidein-p;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translateX(-1000px); }
  #slider-1 a {
    text-decoration: none; }
  #slider-1 .btn {
    background-color: white;
    padding: 15px; }
    #slider-1 .btn:hover {
      background: #141111;
      color: #fff; }
  #slider-1 .button {
    margin-top: 25px;
    text-align: center; }

/* <!-- Slider 2 --> */
#slider-2 {
  background-color: #280777;
  margin: 0 auto; }
  #slider-2 h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px; }
  #slider-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #slider-2 p {
    text-align: center;
    font-size: 20px;
    padding: 25px; }
  #slider-2 a {
    text-decoration: none; }
  #slider-2 .btn {
    background-color: white;
    padding: 15px; }
    #slider-2 .btn:hover {
      background: #141111;
      color: #fff; }
  #slider-2 .button {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 15%; }

/*  <!-- Page 3 --> */
#slider-3 {
  background-color: skyblue;
  margin: 0 auto; }
  #slider-3 h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px; }
  #slider-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #slider-3 p {
    text-align: center;
    font-size: 20px;
    padding: 25px; }
  #slider-3 a {
    text-decoration: none; }
  #slider-3 .btn {
    background-color: white;
    padding: 15px; }
    #slider-3 .btn:hover {
      background: #141111;
      color: #fff; }
  #slider-3 .button {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 15%; }

/* <!-- Slider 4 --> */
#slider-4 {
  background-color: darkgray;
  margin: 0 auto; }
  #slider-4 h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px; }
  #slider-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #slider-4 p {
    text-align: center;
    font-size: 20px;
    padding: 25px; }
  #slider-4 a {
    text-decoration: none; }
  #slider-4 .btn {
    background-color: white;
    padding: 15px; }
    #slider-4 .btn:hover {
      background: #141111;
      color: #fff; }
  #slider-4 .button {
    margin-top: 25px;
    text-align: center; }

/* KEYFRAMES */
@keyframes slidein-h1 {
  to {
    transform: translateY(25px); } }

@keyframes slidein-p {
  to {
    transform: translateX(0px); } }
